<html>
    <head>
        <title>Crypto Coin</title>
        <link href='/static/css/style.css' type='text/css' rel='stylesheet'/>
    </head>
    <body>
        <div id="login">
            <h3>Crypto Coin</h3>
            <div class="login_controls">
                <input type="text" name="username" 
                    placeholder="Enter wallet id to login or username to signup"
                    autocomplete="off" id="username"/><br>
                <input type="button" value="LOGIN" class="login_btn" disabled/>
                <input type="button" value="SIGN UP" class="signup_btn" disabled/>
            </div>
        </div>

        <div id="dashboard">
            <h3><a class='logout' href='#'>Logout</a></h3>
            <div class="user_info">
                <h3>Info:</h3>   
                <div class="wallet_id">Wallet ID: 000000000000</div>
                <div class="balance">Balance: CC 0</div>
                
                <div class="users">
                    <h3>Online:</h3>
                </div>
            </div>
 
        </div>
    </body>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"> </script>
</html>